.a{
    text-align: center;
}
.b{
    text-align: center;
}
.c{
    text-align: center;
}
body{
    background-image: url(file:///C:/Users/h/Desktop/297064211_1963718613828044_9028655253015570377_n.jpg);
    background-size: cover;
}